<div class="main-container">
	<div class="alert alert-app-level"></div>
	<header class="header-6">
		<div class="branding">
			<a href="javascript://" class="nav-link">
				<clr-icon shape="map"></clr-icon>
				<span class="title"> {{ title }} </span>
			</a>
		</div>
		<div class="header-nav">
			<a href="javascript://" class="nav-link nav-text">Stuff</a>
			<a href="/" class="nav-link nav-text">Other Stuff</a>
		</div>
		<div class="header-actions">
			<a href="/" class="nav-link nav-icon">
				<clr-icon shape="cog"></clr-icon>
			</a>
		</div>
	</header>
	<div class="content-container">
		<div class="content-area">
			<app-map-filter-container></app-map-filter-container>
			<app-map></app-map>
		</div>
	</div>
</div>
